@keyframes background {
    50% {
        box-shadow: 0 -200px 100px -100px rgb(116, 114, 114) inset;
    }
}

.playlistItem {
    width: 100%;
    display: block;
    margin-bottom: 7px;
    padding: 10px;
}

.playlistItem:hover {
    outline: solid 2px rgb(127, 67, 230);
}

.playlistTrack {
    display: grid;
    grid-template-columns: 40% 30% 20% 10%;
    align-items: center;
}

.trackTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 447px;
}

.trackTitleImage {
    width: 51px;
    height: 51px;
    padding: 16px;
    background: #313131;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 17px;
}

.trackTitleSvg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4e4e4e;
}

.trackTitleLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.trackTitleSpan {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4e4e4e;
}

.trackAuthor {
    width: 321px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.trackAuthorLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
}

.trackAlbum {
    width: 245px;
}

.trackAlbumLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
}

.trackTimeSvg {
    width: 14px;
    height: 12px;
    margin-right: 17px;
    fill: transparent;
    stroke: #696969;
}

.trackTimeText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #696969;
}

.trackTime {
    justify-self: end;
}

.loadingImage {
    width: 51px;
    height: 51px;
    padding: 16px;
    background: #313131;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 17px;
    animation: background 3s infinite alternate;
}

.loadingTitle {
    width: 356px;
    height: 19px;
    background: rgb(49, 49, 49);
    animation: background 3s infinite alternate;
}

.loadingAuthor {
    width: 271px;
    height: 19px;
    background: rgb(49, 49, 49);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    animation: background 3s infinite alternate;
}

.loadingAlbum {
    width: 305px;
    height: 19px;
    background: rgb(49, 49, 49);
    animation: background 3s infinite alternate;
}