.centerBlockContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-shrink: 1;
}

.contentTitle {
    display: grid;
    grid-template-columns: 40% 30% 25% 5%;
    margin-bottom: 24px;
}

.playlistTitleCol {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
}

.playlistTitleSvg {
    width: 12px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
}

.contentPlaylist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
    padding: 2px;
}


/* убрать нижние  */

.mainCenterBlock {
    width: auto;
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    padding: 71px 40px 100px 50px;
}

.centerBlockH2 {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8px;
    margin-bottom: 45px;
}